.stat-cards {
    -fx-padding: 20 0 0 0;
}

.stat-card {
    -fx-background-color: #f5f5f5;
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-alignment: center;
}

.stat-title {
    -fx-font-size: 14px;
    -fx-text-fill: #777;
}

.stat-value {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #111;
}
