.mainFxmlClass {
    -fx-background-color: #f9fafb;
    -fx-border-color: #e5e7eb;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.03), 5, 0.0, 0, 1);
}

.label-style {
    -fx-background-color: #e0e7ff;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.label-rounded {
    -fx-background-color: #e5e7eb;
    -fx-text-fill: #374151;
    -fx-background-radius: 15px;
    -fx-padding: 3 10 3 10;
}

.list-cell {
    -fx-background-color: white !important; /* ¡Esto fuerza el fondo blanco! */
    -fx-border-width: 0;
    -fx-padding: 10px;
}

.list-cell:odd, .list-cell:even {
    -fx-background-color: white !important; /* Elimina intercalado */
}

.list-cell:selected {
    -fx-background-color: #e0e7ff !important; /* Color al seleccionar (opcional) */
    -fx-text-fill: black;
}
