.mainFxmlClass {
    -fx-background-color: #f9fafb;
    -fx-border-color: #e5e7eb;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.03), 5, 0.0, 0, 1);
    -fx-margin: 10 20 10 20;
}

.label {
    -fx-text-fill: #374151;
    -fx-font-size: 12px;
}

.list-cell {
    -fx-background-color: white !important;
    -fx-padding: 4px 0 4px 0;
    -fx-border-width: 0;
}

.list-cell:odd, .list-cell:even {
    -fx-background-color: white !important;
}

.list-cell:selected .label {
    -fx-text-fill: black;
}


