/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.root {
    -fx-font-family: 'Segoe UI', sans-serif;
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: white;
}
.labelTitulo {
    -fx-font-size: 16px;
    -fx-text-fill: #333;
}

.table-view {
    -fx-background-color: #ffffff;
    -fx-table-cell-border-color: transparent;
    -fx-base: #3874b4
;
}

.table-column {
    -fx-alignment: CENTER-LEFT;
}

.table-row-cell {
    -fx-background-color: #62a7e7; /* Color para filas normales */
    -fx-border-color: #b0bec5;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 15px;
}

.table-row-cell:odd {
    -fx-background-color: #75b4ee; /* Color para filas impares */
}


.button {
    -fx-background-color: #78909c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-padding: 10px 20px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.8) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: #546e7a;
}

.button:pressed {
    -fx-background-color: #455a64;
}

.text-field{
    -fx-border-color: #cfd8dc;
    -fx-border-width: 2;
    -fx-padding: 5px;
    -fx-background-color: #eceff1;
}
.combo-box-base {
    -fx-border-color: #cfd8dc;
    -fx-border-width: 2;
    -fx-padding: 1px;
    -fx-background-color: #eceff1;
}

.combo-box .arrow-button {
    -fx-background-color: #78909c;
    -fx-padding: 10;
}

.combo-box .arrow {
    -fx-shape: "M0 0 L1 0 L0.5 1 z"; /* Triangular arrow */
    -fx-fill: white;
    -fx-effect: dropshadow( one-pass-box , black , 2 , 0.0 , 1 , 1 );
}

.combo-box-popup .list-cell {
    -fx-padding: 4px;
    -fx-background-color: white;
    -fx-text-fill: black;
}

.combo-box-popup .list-cell:filled:selected, .combo-box-popup .list-cell:filled:selected:hover {
    -fx-background-color: #78909c; /* Darker blue for selected item */
    -fx-text-fill: white;
}
