/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.mainFxmlClass {
    -fx-background-color: #f4f4f4;
}

.custom-list {
    -fx-background-insets: 0;
    -fx-padding: 5px;
}

.list-cell {
    -fx-padding: 10px;
    -fx-border-color: #ccc;
    -fx-border-width: 0 0 1 0;
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: #333;
}

#lblNombre {
    -fx-font-weight: bold;
    -fx-text-fill: #3874b4;
}

#lblRol {
    -fx-text-fill: #3477b5;
}

#imgUsuario {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
