/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}.root {
    -fx-font-family: 'Arial';
    -fx-font-size: 14px;
    -fx-background-color: #f4f4f4;
}

.tab-pane {
    -fx-tab-min-height: 30px;
    -fx-tab-max-height: 30px;
}

.tab {
    -fx-background-color: #f4f4f4;
    -fx-text-fill: #333333;
    -fx-padding: 10 20 10 20; /* top right bottom left */
    -fx-font-size: 14px;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #d0d0d0;
}

.tab:selected {
    -fx-background-color: #ffffff;
    -fx-text-fill: #3874b4;
    -fx-font-weight: bold;
}

.tab:hover {
    -fx-background-color: #e8e8e8;
}

.table-view {
    -fx-base: #ffffff;
    -fx-control-inner-background: #ffffff;
    -fx-background-color: #ffffff;
    -fx-table-cell-border-color: #d0d0d0;
}

.table-view .column-header-background {
    -fx-background-color: #ffffff;
}

.table-view .column-header {
    -fx-background-color: #3874b4;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.table-view .table-row-cell {
    -fx-background-color: #ffffff;
    -fx-table-cell-border-color: transparent;
}

.table-view .table-cell {
    -fx-text-fill: #333333;
    -fx-border-color: #d0d0d0;
    -fx-border-width: 0.5;
}

.list-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #d0d0d0;
}

.list-cell {
    -fx-text-fill: #333333;
    -fx-border-color: transparent;
    -fx-padding: 10 5 10 5;
}

.list-cell:filled:selected, .list-cell:filled:selected:hover {
    -fx-background-color: #3874b4;
    -fx-text-fill: white;
}
